*__pycache__
*.ckpt
*.whl
*.csv
Wan-AI

# Folders with results and models
GTA_result/
models/
latents_debug/
results/
result/
example_test_data/
.vscode/
eval_data/
eval_data2/
exp/
metadata.csv
metadata_all.csv
wandb/
.venv/
clean_empty_experiments.py
data_check/
debug_coord/
training_log
evaluation/example_eval/
evaluation/v2v_eval/
evaluation/i2v_eval/
evaluation/top30error/